
.brand-sec{
    padding: 6rem 9rem;
    height: 50vh;
}
.brand-innersec{
margin-top: 60px;
}
.brand-inner{
display: flex;
}

.logodiv{
    margin: 0 10px;
}
.brand-logo{
border: 1px solid rgb(196, 189, 189);
}
