.footer{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
   background-color: black;
    color: #ffffff;
    height: 60vh;
}

.copyright{
    text-align: center;
    
    background: #333333;
    color: white;
    padding: 1rem;
    margin-top: 67px;
}
.copyright p{
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    font-weight: normal;
}
.col-md-3 ul{
    list-style-type: none;
}